@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --shopee-orange: #EE4D2D;
  }
}

@layer utilities {
  .text-gradient {
    background: linear-gradient(135deg, #EE4D2D, #FF7337);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
}
